@import "splash.less";

@font-face {
  font-family: Metrickal;
  src: url("fonts/Metrickal-Regular.otf");
}

@lineHeight: 1.6em;
@base: 1.2em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:where(html, body) {
  overscroll-behavior-y: none;
}

body {
  line-height: unit(@lineHeight);
  background-color: #000;
  color: #fff;
  font-family: Metrickal, monospace;
}

.app {
  inset: 0;
  font-size: 16px;

  > * {
    position: absolute;
  }

  @media (max-height: 600px) and (max-width: 830px) {
    font-size: 16px;
  }

  @media (max-height: 530px) and (max-width: 750px) {
    font-size: 14px;
  }

  @media (max-height: 470px) and (max-width: 680px) {
    font-size: 12px;
  }
}

