@import "splash.less";

@lineHeight: 1.6em;
@base: 1.2em;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: unit(@lineHeight);
  background-color: #000;
  color: #fff;
  font-family: monospace;
}

.app {
  inset: 0;
  font-size: 18px;

  > * {
    position: absolute;
  }
}

