.app {
  .title {
    left: 2ch;
    top: @base;
    white-space: pre;
    color: goldenrod;
  }

  .ground {
    bottom: 2.5 * @base;
    right: 1ch;
    white-space: pre;

    .grass {
      color: #3c3;
    }
  }
}
